/*
 * when you want to delete some nodes or property, modify this dtsi.
 * some diff between mtk and zte pluto.
 */

#include "../bat_setting/battery_protect_policy_080500100328.dtsi"

/{
	/*add for Z5156CC flash chip node*/
	flashlights_aw3648: flashlights_aw3648 {
		compatible = "mediatek,flashlights_aw3648";
	};
};

&i2c4 {
	aw3648_i2c: aw3648_i2c@63 {
		compatible = "mediatek,flashlights_aw3648_i2c";
		status = "okay";
		reg = <0x63>;
	};
};


 &i2c5 {
	bq2560x: bq2560x@6b {
		compatible = "ti,bq2560x_charger";
		status = "okay";
		reg = <0x6b>;

		charger_name = "primary_chg";
		alias_name = "bq2560x";
	};
};

&lk_charger {
	/delete-property/ enable_pe_plus;
	/delete-property/ enable_anime;
};

&charger {
	/delete-property/ enable_pe_plus;
	/delete-property/ enable_pe_2;
	/delete-property/ enable_pe_3;
	/delete-property/ enable_pe_4;
};

/ {
	/delete-node/ mt6370_pmu_dts;
};

/ {
	/delete-node/ type_c_port0;
};

